<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{STORY_NAME}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <tw-story tags>
      {{STORY_DATA}}
    </tw-story>
    <div id="story-root"></div>
    <script>
      <%- script %>
    </script>
  </body>
</html>
