<!DOCTYPE html>
<html lang="en" class="absolute inset-0 overflow-hidden">
  <head>
    <title>{{STORY_NAME}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="absolute inset-0 overflow-hidden">
    <tw-story tags></tw-story>
    {{STORY_DATA}}
    <div id="story-root"></div>
    <script>
      <%- script %>
    </script>
  </body>
</html>
