<!DOCTYPE html>
<html lang="en" class="absolute inset-0 overflow-hidden">
  <head>
    <title>{{STORY_NAME}}: {{PASSAGE_NAME}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      @theme {
        --color-red-50: 0.9705 0.0129 17.38;
        --color-red-100: 0.9356 0.0309 17.72;
        --color-red-200: 0.8845 0.0593 18.33;
        --color-red-300: 0.8077 0.1035 19.57;
        --color-red-400: 0.7106 0.1661 22.22;
        --color-red-500: 0.6368 0.2078 25.33;
        --color-red-600: 0.5771 0.2152 27.33;
        --color-red-700: 0.5054 0.1905 27.52;
        --color-red-800: 0.4437 0.1613 26.9;
        --color-red-900: 0.3958 0.1331 25.72;
      }
    </style>
  </head>
  <body class="absolute inset-0 overflow-hidden">
    <tw-story tags></tw-story>
    {{STORY_DATA}}
    <div id="story-root"></div>
    <script>
      <%- script %>
    </script>
  </body>
</html>
