<!DOCTYPE html>
<html lang="en" class="absolute inset-0 overflow-hidden">
  <head>
    <title>{{STORY_NAME}}: {{PASSAGE_NAME}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      @theme {
        --color-red-50: 254 242 242;
        --color-red-100: 254 226 226;
        --color-red-200: 254 202 202;
        --color-red-300: 252 165 165;
        --color-red-400: 248 113 113;
        --color-red-500: 239 68 68;
        --color-red-600: 220 38 38;
        --color-red-700: 185 28 28;
        --color-red-800: 153 27 27;
        --color-red-900: 127 29 29;
      }
    </style>
  </head>
  <body class="absolute inset-0 overflow-hidden">
    <tw-story tags></tw-story>
    {{STORY_DATA}}
    <div id="story-root"></div>
    <script>
      <%- script %>
    </script>
  </body>
</html>
