<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{STORY_NAME}}</title>
    <script>
      if (window.storyFormat && typeof window.storyFormat === 'function') {
        window.storyFormat(
          JSON.stringify({
            name: '<%= name %>',
            description: '<%= description %>',
            version: '<%= version %>'
          })
        )
      }
    </script>
  </head>
  <body>
    {{STORY_DATA}}
    <div id="root"></div>
    <script type="module" src="./dist/main.js"></script>
  </body>
</html>
